button {
   width: 100px;
   height: 100px;

}

#start {
    display: flex;
    justify-content: center;
}

#displayGame {
    display: none;
}

#score {
    display: flex;
    gap: 150px;
    height: 200px;
}

